@import "tailwindcss";

:root {
  --background: #8BFF68;
  --foreground: #EDFFF9;
}

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lato), Arial, sans-serif; /* --font-lato is coming from Next.js's next/font, I'm referenc the CSS variable that Next.js injects */
}
